.lsm-condition-organizer-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 1rem;
    width: calc(100% - 2rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*margin-left: auto;*/
    /*padding: 2rem;*/
    border-radius: 0.25rem;
}

.lsm-define-condition-button {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25rem;
    padding: 1rem;
    cursor: pointer;
}

.lsm-humanized-condition-text-container {
    display: flex;
    width: calc(100% - 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: center;
}

.lsm-humanized-condition-text {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow-wrap: break-word;
    text-align: left;
    width: 100%;
}
