.lsm-back-button {
    height: 3rem;
    padding: 0 1.5rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    border: var(--lsm-secondary-color) 1px solid;
    background-color: var(--lsm-background-color);
    color: var(--lsm-primary-color);
    cursor: pointer;
    transition-duration: 0.3s;
    cursor: pointer;
}

.lsm-back-arrow {
    margin-right: 0.5em;
}

/*.lsm-back-button {*/
/*    height: 4rem;*/
/*    padding: 0 1.5rem;*/
/*    width: 50%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    border-radius: 0;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    transition-duration: 0.3s;*/
/*}*/

.lsm-back-button:hover {
    background-color: #f4f4f4;
}
