.lsm-lit-footer {
    display: flex;
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    left: 50%;
    padding-top: 1rem;
    height: 5rem;
    width: 90%;
    box-sizing: border-box;
    transform: translate(-50%, 0);
    background-color: var(--lsm-background-color);
}
