.lsm-review-conditions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    width: calc(100% - 2rem);
}

.lsm-review-conditions-prompt {
    /*margin: 1rem 0;*/
    width: 100%;
    text-align: left;
    margin: 1rem 0;
    padding: 0;
}

.lsm-review-scroll {
    height: calc(100% - 18rem);
    /*height: 30rem;*/
}

.lsm-review-condition-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*margin: 0 auto;*/
    width: calc(100% - 2rem);
    /*margin-left: auto;*/
    padding: 1rem;
    border-radius: 0.25rem;
}

.lsm-review-condition-button {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.lsm-humanized-condition-text-container {
    display: flex;
    width: calc(100% - 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: center;
}

.lsm-humanized-condition-text {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow-wrap: break-word;
    text-align: left;
    width: 100%;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.lsm-conditions-sent {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 7rem;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
    animation: fadein;
    animation-duration: 0.3s;
}

.lsm-conditions-sent-text {
    /*margin: 0 auto 0;*/
    margin-left: 0.5rem;
    text-align: center;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lsm-loader {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.lsm-loader-quarter {
    border-radius: 50px;
    /*border: 6px solid rgba(255, 255, 255, 0.4);*/
    border: 3px solid #2C0C72;
}

.lsm-loader-quarter:after {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

